.cart {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cartShow {
    height: 80vh;
    max-height: 400px;
}

.cartHide {
    height: 80px;
}

.cart__card {
    background: white;
    box-shadow: 0 0 12px 0 #e6e5e5;
    height: 100%;
}