.cart_item {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #f9f9f9;
    display: grid;
    border-top: none;
}

.cart_item:first-child {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.cart_item>*:nth-child(4) {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    line-height: 6;
}

.cart_item__description * {
    font-size: 12px;
    text-align: left;
}

.cart_item__description span {
    text-transform: uppercase;
    font-weight: 700;
    color: #3d3d3d;
}

.cart_item__description p {
    margin: 0;
}

.cart_item__description strong {
    margin: 0;
}

.cart_item img {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 70px;
}

.cart_item__actions {
    text-align: right;
    position: relative;
}

.cart_item__actions>div {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 0;
    width: 90px;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 40px;
    overflow: hidden;
}

.cart_item__actions button {
    border: none;
    color: #0071ce;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    padding-top: 4px;
    cursor: pointer;
}

.cart_item__actions button:nth-child(3) {
    color: rgb(231, 26, 71);
}

.cart_item__actions button:focus {
    outline: none;
}

.cart_item__actions button:hover {
    color: #0071ce;
    background-color: #e7f3ff;
}

@media (min-width: 551px) {
    .cart_item {
        grid-template-columns: 73px 1fr 1fr 100px;
        grid-column-gap: 10px;
    }
}

@media (max-width: 550px) {
    .cart_item {
        grid-template-columns: 90px auto;
        grid-gap: 10px;
    }
    .cart_item>*:nth-child(2) {
        grid-column: 2;
    }
    .cart_item>*:nth-child(4) {
        text-align: right;
        width: 100%;
        line-height: 3;
    }
}
